img {
   
      border-radius: 50%;
      width:250;
      hight:3350;
      border: 0px solid black;
}

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
  }

a {

  color: black;
  text-decoration: none;
  
}

h1 {
      text-align: ;
}
body {
  background-image: url('https://media.giphy.com/media/3oEjHBa34dVLv0jnoc/giphy.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;


 p1 {
 
    text

}  

font-family: helvetica;
}