im {
   
      border-radius: 50%;
      width:150;
      hight:3350;
      border: 0px solid black;
      display: block;
      margin-left: 10;
      margin-right: auto;
}

a {

  color: black;
  text-decoration: none;
  
}

h1 {
      text-align: ;
}

p1 {
     color:white;
      }
      
h1 {
     color:white;
      }
      
      

body {background-color: black;}
